ansicolors
chainmap
coloredlogs
h5py
idna==2.5
iniparse
ipdb
pyserial
pyOpenSSL
PyPDF2
python-dotenv
requests[security]
katcp
lxml
matplotlib==2.0.2
nose
numpy==1.13.3
pandas
paramiko
sh
tables
git+https://github.com/ska-sa/casperfpga.git
git+https://github.com/ska-sa/nosekatreport.git@karoocbf
