ansicolors
argcomplete
chainmap
coloredlogs
flake8
flake8-html
git+https://github.com/ska-sa/casperfpga.git
git+https://github.com/ska-sa/nosekatreport.git@karoocbf
h5py
idna==2.5
iniparse
ipdb
ipynose
ipython[all]
katcp
lxml
matplotlib==2.0.2
nose
numpy==1.13.3
pandas
paramiko
pep8
pylint
pyserial
pyOpenSSL
PyPDF2
python-dotenv
requests[security]
sh
tables
